:root {
    --mainColor: #8CFFDA;
    --secondColor: #FFB2E6;
    --thirdColor: #D972FF;
    --fourthColor: #8447FF;
    --fifthColor: #FFFFE8;
}

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: var(--mainColor);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 6%;
    position: absolute;
    left: 2rem;
}

.texto {
    width: 30%;
}

.muñecos {
    width: 10%;
}

.button {
    width: 8%;
}

main {
    background-image: url(/img/portada.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section {
    background-color: #D972FF;
    width: 70%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000;
    background: linear-gradient(180deg, #FFB2E6 0%, #FFB2E6 0.01%, #F5F5F5 97.4%);
    box-shadow: -4px 4px 0px 5px #000;
}

.muñecos {
    height: 30vh;
    width: 15%;
}

div {
    display: flex;
    width: 70%;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    gap: 4%;
}

.cassette {
    width: 100%;

}

button {
    background-color: rgba(0, 0, 0, 0);
    width: 10%;
    border: 0;
    padding: 0;
    cursor: pointer;
}